.offerhyper {
  max-width: 1440px;
  width: 100%;
  margin: 25px auto;
  border-radius: 16px;

  background: linear-gradient(
    267.6deg,
    rgba(2, 154, 73, 0.1) 0,
    rgba(242, 242, 242, 0) 100%
  );
  .offerhyper-content {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f1c2;
    border-radius: 16px;
    padding: 15px;
    background-image: url(../images/تخفیف\ سوپر\ مارکتی/freshPattern.svg);
    background-repeat: no-repeat;
    .offerhyper-content-right {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 15px;
      img {
        /* width: 100%; */
        object-fit: cover;
      }
      span {
        margin-right: 22px;
        color: white;
        font-family: "yekan";
        background-color: #029a49;
        padding: 4px 10px;
        border-radius: 999px;
        font-weight: 580;
        font-size: 16px;
      }
    }
    .offerhyper-content-left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      flex: 1.5;
      .offerhyper-content-left-items {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        div {
          position: relative;
          background-color: white;
          padding: 13px;
          border-radius: 50%;
        }
        img {
          width: 58px;
          height: 58px;
        }
        span {
          position: absolute;
          background-color: #db304e;
          padding: 2px 10px;
          color: white;
          border-radius: 9999px;
          right: 0;
          bottom: 0;
        }
      }
      .offerhyper-content-left-more {
        a {
          text-decoration: none;
          color: #029a49;
          font-size: 14px;
          background-color: white;
          padding: 15px 30px;
          border-radius: 9999px;
          font-weight: 800;
        }
      }
    }
  }
}
